@font-face {
  font-family: "Coolvetica-Regular";
  src: url("./fonts/coolveticarg.woff2") format("woff2"),
  url("./fonts/coolveticarg.woff") format("woff"),
  url("./fonts/coolveticarg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}